* {
  box-sizing: border-box;
  font-family: verdana;
}

span {
  color: darkgreen;
}

ul {
  list-style-type: none;
}

li {
  background-color: #F3FAF6;
  border: 1px solid darkgray;
  border-radius: 2px;
  box-shadow: 0 4px 4px lightgray;
  margin: 3px;
  margin-bottom: 17px;
  padding: 10px;
}

.pad-top {
  padding-top: 10px;
}

.allCards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.aCbtn {
  width: 100%;
}

.center-text {
  text-align: center;
}

.dBtn {
  margin: 5px 0;
  width: 100%;
}

.cardCount {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 0 10px;
  background-color: gray;
  color: white;
}

.single {
  margin: 20px auto;
  width: 800px;
}

.singleBox {
  display: flex;
}

.singleInfo {
  margin-left: 20px;
}
